html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.hidden {
  display: none;
}

.global-wrapper {
  width: 90vw;
  margin: 0 auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2% 0;

  &__item {
    margin-bottom: 4%;
  }
}

.map {
  max-width: 600px;
  max-height: 300px;
  margin: 0 auto;
  overflow: hidden;
  background: url('../images/map-holder.jpg') rgb(214, 204, 238);

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.content {

}

.main-controls {
  text-align: center;
}

.btn {
  background: rgb(243, 228, 228);
  border: none;
  padding: 0.5em 1em;

  &-filter {

  }

}

.place-list {
  list-style: none;
  padding: 0;
  margin: 0 auto 4% auto;

  &__item {
    padding: 2% 5%;
    background: rgb(241, 194, 194);
    margin-bottom: 1em;
    border-radius: 2px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
    }
  }
}

.place {
  display: flex;

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  &__title {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  &__description {
    width: 40%;
    margin-bottom: 0.5em;
    font-size: 0.8em;    
  }

  &__labels {
    max-width: 60%;
    overflow: hidden;
  }

  &__time {

  }

  &__coords {
    white-space: nowrap;
  }

  &__keywords {

  }

  &__controls {

  }
}

.open-places-btn {
  .all-places-text {
    display: inline;
  }
  .open-places-text {
    display: none;
  }
  &.open {
    .all-places-text {
      display: none;
    }
    .open-places-text {
      display: inline;
    }
  }
  
}

.form {
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  border-radius: 2px;
  background: rgb(255, 255, 222);

  input {
    border-color: transparent;
    margin-left: 5px;
    width: 60%;

    :invalid {
      border-color: rgb(248, 131, 131)
    }
  }

  label {
    display: block;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: right;
  }

  &-holder {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    display: none;
  }

  &__inputs {
    padding: 4% 0;
  }

  &__controls {
    text-align: center;
  }

  &__save-btn {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
    padding: 2% 30%;
  }
}

.form-open {
  .form-holder {
    display: block;
  }
}

